[submodule "plugins/vim-javascript"]
	path = plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "plugins/auto-pairs"]
	path = plugins/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "plugins/vim-endwise"]
	path = plugins/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "plugins/vim-slim"]
	path = plugins/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "plugins/vim-markdown"]
	path = plugins/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "plugins/vim-jsx"]
	path = plugins/vim-jsx
	url = https://github.com/elquimista/vim-jsx
[submodule "plugins/vim-matchup"]
	path = plugins/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "plugins/ale"]
	path = plugins/ale
	url = https://github.com/w0rp/ale.git
[submodule "plugins/vim-tmux-navigator"]
	path = plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "plugins/vim-git-blame"]
	path = plugins/vim-git-blame
	url = https://github.com/elquimista/vim-git-blame.git
[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/vim-airline-themes"]
	path = plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/vim-graphql"]
	path = plugins/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "plugins/papercolor-theme"]
	path = plugins/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "plugins/gruvbox"]
	path = plugins/gruvbox
	url = https://github.com/morhetz/gruvbox
